<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PDX Industrial | About</title>
    <link rel="stylesheet" href="dist/css/index.css">

  </head>
  <body>

    <header>
      <img class="city" src="dist/img/header.gif" />
    </header>

    <div class="row about-container">

      <div class="col-xs-12">
        <p>
          <strong>Founded</strong> by Danny Peter in 2009, and located in Portland, Oregon.
        </p>

        <img class="experience" src="dist/img/experience.svg" />
      </div>

      <div class="col-xs-12">
        <p>
          <strong>Project Diversity</strong> enables unique insights &amp; valuable opportunities to be connected across a wide range of industries &amp; user groups.
        </p>
      </div>


      <div class="col-xs-12 col-md-6">
        <p>
          <strong>Specializing</strong> in performance footwear innovation &amp; soft goods mat’ls / constructions, with a particular interest in the integration of wearable technologies.
        </p>
        <p>
          <strong>Networked</strong> w/ a community of creative product partners with complementary skillsets. Together we feel confident in our ability to bring almost any project to a successful outcome.
        </p>
      </div>

      <div class="col-xs-12 col-md-6">
        <img class="client-logos" src="dist/img/clients.svg">
      </div>

      <div class="col-xs-12">
        <p>
          <strong>Flexible ways of working:</strong>
          <ul>
            <li>Project-based: design consulting with hourly rate per deliverable.</li>
            <li>Retainer agreement: acting as virtual addition to company staff.</li>
            <li>Venture: reduced fee in exchange for royalty/ownership % share.</li>
          </ul>
        </p>
      </div>

      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-4 col-md-2">
            <a href="mailto:dannypeter@me.com">
              <img src="dist/img/email.svg" />
            </a>
          </div>
          <div class="col-xs-8 col-md-10">
            <p>
              I’m always seeking new projects and partnerships. Please contact me to discuss the opportunity to collaborate.
            </p>
          </div>
        </div>
      </div>

    </div>

    <footer>
      <nav>
        <ul>
          <% nav.forEach((link, index) => { %>
            <li>
              <a href="<%= link.url %>"><%= link.label %></a>
            </li>
          <% }); %>
          <li>
            <img class="logo" src="dist/img/word_logo.svg" />
          </li>
        </ul>
      </nav>
      <img class="city" src="dist/img/footer.gif" />
    </footer>

    <script src="dist/js/app.min.js"></script>
    <script>
      new LazyLoad();
    </script>
  </body>
</html>
