@require 'normalize-css/normalize.css'
@require 'flexboxgrid/css/flexboxgrid.css'


.grid-item
  padding: 0
  margin: 0

  img
    height: auto
    width: 100%
    display: block
    // border: 1px solid #ccc
