label: 
__cdata: Contact
toString: 
body: 
__cdata: "I'm always seeking challenging new projects, <br>and am excited to partner with clients who <br>share my belief in the power of design to <br>make a positive impact on people's lives."
toString: 
address: 
__cdata: "<font face=\"Helvetica Neue\"><b>Danny Peter, Consultant</b></font><br>PDX Industrial Design LLC<br>2212 SW Caldew St. <br>Portland OR  97219<br><a href=\"mailto:info@pdxindustrial.com\">info@<font face=\"Helvetica Neue\"><b>pdx</b></font>industrial.com</a>"
toString: 
_id: contact