---
title: PDX Industrial
---

.container.main-content
  %h1 
    PDX Industrial
    %small Projects
  %p.lead
    The goal of this collection of project samples is to demonstrate my passion for visualizing concepts. Each image is representative of a collaborative and holistic design exploration. I hope you enjoy reviewing the work.

  .product-grid
    - data['projects'].each do |project|
      .col-md-4.project
        %a.gallery{title: project['desc'], href: image_path(project['image'])}
          = image_tag project['image'], class: 'img-responsive'

        %h5= project['label']
        %p= project['desc']